*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    display: flex;
    height: 50px;
    background-color: black;
}

header nav{
    height: 100%;
    width: 100%;
}

header nav ul {
    list-style-type: none;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    gap: 20px;
    justify-content: end;
    padding-right: 20px;
}

header nav ul li a{
    color:white;
    text-decoration: none;
}

/* HEADER */
