*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

/* HEADER */
header{
    display: flex;
    height: 50px;
    background-color: black;
}

header nav{
    height: 100%;
    width: 100%;
}

header nav ul {
    list-style-type: none;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    gap: 20px;
    justify-content: end;
    padding-right: 20px;
}

header nav ul li a{
    color:white;
    text-decoration: none;
}

/* HEADER */

/* MAIN */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

main form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

main form div {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
}

main form div label{
    align-self:center;
}

main form div #hora{
    margin-bottom:10px;
}

.error, #mensajeError{
    color: red;
}
/* MAIN */


/* FOOTER */
footer{
    position: absolute;
    align-self: center;
    bottom: 0;
}
/* FOOTER */
